:root {
  --border-color: rgba(255, 113, 113, 0.445);
}

body {
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
}

.parent {
  width: 90vw;
  height: 90vh;
  position: relative;
  box-shadow: 0 2px 6px #9e9e9e;
  border-radius: 10px;
  min-width: 250px;
  min-height: 250px;
}
.child {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  z-index: 1;
  transition: all 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28) 0s;
  background-image: url("../assets/ball.png");
  background-size: cover;
}

.indicator-center {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 0, 0, 0);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  z-index: 2;
}

.indicator-center-vertical .box {
  width: 50%;
  height: 100%;
}
.indicator-center-horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.indicator-center-horizontal .box {
  width: 50%;
  height: 100%;
}
.indicator-center-horizontal .box-1 {
  border-right: 2px solid var(--border-color);
}
.indicator-center-horizontal .box-2 {
  border-left: 2px solid var(--border-color);
}

.indicator-center-vertical .box {
  width: 100%;
  height: 50%;
}

.indicator-center-vertical .box-1 {
  border-bottom: 2px solid var(--border-color);
}
.indicator-center-vertical .box-2 {
  border-top: 2px solid var(--border-color);
}

.hide {
  display: none;
}
